*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.main{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    width: 1440px;
    justify-content: center;

}
.card{
    width: 800px;
    height:500px;
}
h2,a{
    color: hsl(0, 0%, 95%);
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    padding: 20px 0;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    padding:50px 0;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid hsl(0, 0%, 95%) ;
    border-radius: 50px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-radius: 10px 0 0 10px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}
.luxury{
    background-color:  hsl(179, 100%, 13%);
    padding: 50px;
    border-radius: 0 10px 10px 0;
}